* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
}

.hero-section {
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
h1 {
    color: white;
    margin-top: 5%;
    text-align: center;
    font-size: 30px;
}

/* container for input and btn */
.inputandgenbtn {
    width: 400px;
    height: 300px;
    /* flex-wrap: wrap; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.inputandgenbtn:hover {
    box-shadow: 0px 0px 20px rgb(115, 241, 31);
}
.input {
    margin-top: 12%;
    width: 250px;
    height: 43px;
    color: black;
    font-size: 18px;
    border: 2px solid black;
    border-radius: 3px;
    text-align: center;
    letter-spacing: 2px;
    
}

.genPassword {
    margin-top: 50px;
    width: 200px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    font-size: 12px;
    background-color: aqua;
    border: none;
    border-radius: 3px;
    font-weight: bold;
}

.copyButton {
    margin-top: 30px;
    width: 100px;
    height: 30px;
    padding: 10px;
    cursor: pointer;
    font-size: 12px;
    background-color: aqua;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    text-align: center;
}

.copiedText {
    padding-top: 5px;
    color: rgb(0, 0, 0);
}

.gitlink {
    color: white;
    text-align: center;
}

.gitlink a {
    color: rgb(33, 238, 95);

}


@media (max-width: 768px) {
    h1 {
        color: white;
        margin-top: 0%;
        text-align: center;
        font-size: 15px;
    }

    
    /* container for input and btn */
    .inputandgenbtn {
        width: 300px;
        height: 250px;
        /* flex-wrap: wrap; */
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border-radius: 10px;
    }
    
    .inputandgenbtn:hover {
        box-shadow: 0px 0px 20px rgb(115, 241, 31);
    }
    .input {
        margin-top: 12%;
        width: 250px;
        height: 43px;
        color: black;
        font-size: 18px;
        border: 2px solid black;
        border-radius: 3px;
        text-align: center;
        letter-spacing: 2px;
        
    }
    
    .genPassword {
        font-size: 16px;
        margin-top: 50px;
        width: 130px;
        height: 40px;
        padding: 10px;
        cursor: pointer;
        font-size: 12px;
        background-color: aqua;
        border: none;
        border-radius: 3px;
        font-weight: bold;
    }
    


    
}


  


